@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fcfcfd;
  --border: #e5e4e7;
  --accent: #6366f1;

  --sans: 'Inter', system-ui, -apple-system, sans-serif;

  font: 16px/1.5 var(--sans);
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #fcfcfd;
  background-image:
    radial-gradient(#e5e7eb 1px, transparent 1px),
    linear-gradient(to right, #f1f5f9 1px, transparent 1px),
    linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
  background-size: 20px 20px, 100px 100px, 100px 100px;
}

canvas {
  outline: none;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(226, 232, 240, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
}
